.showcase-card {
	// --bg-card: #F3D072;
	// --fg-model: #FFE29D;
	// --fg-title: #462A04;
	// --fg-desc: #462A04;
	// --button-bg: url("../img/common/button-on-yellow.png");

	--tr-function: ease-in-out;//cubic-bezier(0.5, 0, 0.5, 1);
	--tr-card: all 0.5s var(--tr-function);
	width: 100%;
	flex: 1;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	transition: var(--tr-card);
}
.showcase:not(.showcase--has-opened) .showcase-card {
	margin-left: 2rem;
	margin-right: 2rem;
}
.showcase:not(.showcase--has-opened) .showcase-card:first-of-type {
	margin-left: 0;
}
.showcase:not(.showcase--has-opened) .showcase-card:last-of-type {
	margin-right: 0;
}

.showcase-card--citrus {
	--bg-card: #EEC761;
	--fg-model: #FFE29D;
	--fg-title: #462A04;
	--fg-desc: #462A04;
	--button-bg: url("../img/common/button-on-yellow.png");
}
.showcase-card--berry {
	--bg-card: #F0BCC8;
	--fg-model: #ffebef;
	--fg-title: #5C0016;
	--fg-desc: #5C0016;
	--button-bg: url("../img/common/button-on-magenta.png");
}
.showcase-card--raw {
	--bg-card: #7FC8EC;
	--fg-model: #E2F3FF;
	--fg-title: #23005C;
	--fg-desc: #23005C;
	--button-bg: url("../img/common/button-on-cyan.png");
}
.showcase-card--mango {
	--bg-card: #F0BC70;
	--fg-model: #FFE09F;
	--fg-title: #5C0000;
	--fg-desc: #5C0000;
	--button-bg: url("../img/common/button-on-mango.png");
}
.showcase-card:first-of-type {
	margin-left: 0;
}
.showcase-card:last-of-type {
	margin-right: 0;
}
.showcase-card--opened {
	flex: 41.2;
}
.showcase-card:not(.showcase-card--opened) {
	cursor: pointer;
}

.showcase-card__body {
	position: relative;
	background-color: var(--bg-card);
	border-radius: 2rem;
	padding-top: 17.9rem;
	padding-bottom: 16.3rem;
	transition: inherit;
	overflow: hidden;
}
.showcase-card--opened .showcase-card__body {
	padding-left: 15.2rem;
	padding-right: 15.2rem;
}

.showcase-card__model {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	color: var(--fg-model);
	font-family: 'Intro Demo';
	font-size: 9.6rem;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	transition: all 0.3s var(--tr-function);
}

.showcase--has-opened .showcase-card:not(.showcase-card--opened) .showcase-card__model {
	font-size: 2rem;
	top: 83.3%;
}

.showcase--has-opened .showcase-card--opened .showcase-card__model {
	font-size: 12.8rem;
}

.showcase-card__model-name {
	transition: inherit;
	transform: rotate(90deg) scale(-1) translate(-25rem, -26rem);
	width: 60rem;
	text-align: right;
}

.showcase-card--opened .showcase-card__model-name {
	transform: rotate(90deg) scale(-1) translate(-23rem, -25rem);
}

.showcase--has-opened .showcase-card:not(.showcase-card--opened) .showcase-card__model-name {
	transform: rotate(90deg) scale(-1) translate(20.4rem, -28.1rem);
	text-align: left;
}

.showcase-card__info {
	position: relative;
	z-index: 2;
	transition: all 0.6s var(--tr-function);
	opacity: 0;
	transform: scaleX(0);
	max-width: 43.5rem;
}

.showcase-card--opened .showcase-card__info {
	opacity: 1;
	transform: scaleX(1);
}
.showcase--has-opened .showcase-card:not(.showcase-card--opened) .showcase-card__info {
	margin-left: -50rem;
}

.showcase-card__title {
	color: var(--fg-title);
	font-family: 'Intro Demo Cond';
	font-size: 5rem;
	font-style: normal;
	font-weight: 900;
	line-height: 99.4%;
	margin-bottom: 2.8rem;
}

.showcase-card__title-product {
}

.showcase-card__title-model {
	font-weight: 300;
}

.showcase-card__desc {
	color: var(--fg-desc);
	font-family: 'Intro';
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150.5%;
	margin-bottom: 4.8rem;
	// font-variant: small-caps;
}

.showcase-card__media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	transition: all 0.3s var(--tr-function);
}
.showcase--has-opened .showcase-card:not(.showcase-card--opened) .showcase-card__media {
	filter: blur(6.4rem);
}
.showcase-card__media-pic {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}
.showcase-card__media-img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
}

.showcase-card__slogan {
	position: absolute;
	top: 10rem;
	right: 2.6rem;
	width: 56rem;
	height: 17.4rem;
	pointer-events: none;
	transform-origin: right;
	transform: scaleX(0);
	opacity: 0;
	transition: all 0.6s var(--tr-function);
}
.showcase-card--opened .showcase-card__slogan {
	opacity: 1;
	transform: scaleX(1);
}


.showcase-card__slogan-pic {
	display: block;
	width: 100%;
	height: 100%;
}
.showcase-card__slogan-img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}


.showcase-card__drop {
	display: block;
	--size: 3rem;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	border-radius: var(--size);
	border: 0.2rem solid var(--bg-card);
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5rem;
	transition: all 0.3s var(--tr-function);
}

.showcase-card--opened .showcase-card__drop {
	transform: scale(0);
}
