.cocktail {
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
	margin-bottom: -25rem;
	position: relative;
	z-index: 6;
}

.cocktail__container {
	display: grid;
	column-gap: 5rem;
	grid-template-columns: auto 95.3rem;
	max-width: 183rem;
	align-items: start;
}

.cocktail__details-tabs {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5rem;
}

.cocktail__related {
	padding-top: 0;
	padding-bottom: 0;
}

.cocktail__details-tabs-button {
	font-size: 3.2rem;
	padding: 4rem 6rem;
  min-width: 35rem;
  opacity: 0.2;
}
.cocktail__details-tabs-button:first-child {
	margin-left: 17rem;
}
.cocktail__details-tabs-button--active {
	opacity: 1;
}

.cocktail__details-tabs-button:hover {
	@media (any-hover:hover) {
		opacity: 1;
	}
}

.cocktail__details-tabs-button .button__bg {
	opacity: 0;
}
.cocktail__details-tabs-button--active .button__bg {
	opacity: 1;
}

.cocktail__title {
	color: var(--fg);
	font-family: 'Intro Demo';
	font-size: 6.4rem;
	font-style: normal;
	font-weight: 900;
	line-height: 103%;
	margin-top: 0;
	margin-bottom: 3.8rem;
}

.cocktail__title-model {
	font-family: 'Intro Demo Cond';
	font-weight: 300;
}

.cocktail__desc {
	max-width: 85.3rem;
	color: var(--fg);
	font-family: 'Intro Book';
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 135.5%;
	margin-bottom: 4.1rem;
	display: grid;
	grid-template-columns: 0.8fr 1fr;
}

.cocktail__stats-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--fg);
	font-family: 'Intro Demo Cond';
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	// font-variant: small-caps;
	margin-bottom: 3.8rem;
}

.cocktail__stat {
	display: block;
	margin-right: 0.6em;
}

.cocktail__stat-value {
	font-weight: 900;
	font-family: 'Intro Demo';
}

.cocktail__hero {
	position: relative;
}

.cocktail__hero-name {
	color: var(--fg-active);
	font-family: 'Intro Demo';
	font-size: 12.8rem;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	width: 100%;
	// transform-origin: left top;
}

.cocktail--citrus .cocktail__hero-name {
	font-size: 9.6rem;
}

.cocktail__hero-name-text {
	transform: rotate(90deg) scale(-1) translate(-42rem, -44.2rem);
	display: block;
	width: 100rem;
	text-align: right;
}

.cocktail--citrus .cocktail__hero-name-text {
	transform: rotate(90deg) scale(-1) translate(-47rem, -44.2rem);
}

.cocktail__media {
  width: 100%;
  height: 89.5rem;
  margin-top: 1rem;
  padding-left: 10rem;
  padding-right: 4rem;
  position: relative;
  border-radius: 3rem;
}
.cocktail__media-pic {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}
.cocktail__media-img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	object-fit: cover;
}

.cocktail__media-decor-1,
.cocktail__media-decor-2,
.cocktail__media-decor-3 {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
}

.cocktail__media-decor-1 {
	width: 22.8rem;
	height: 11.8rem;
  bottom: -9.3rem;
  left: 9rem;
}

.cocktail__media-decor-2 {
	width: 7.9rem;
	height: 7.4rem;
	bottom: -2.2rem;
  right: -7rem;
}

.cocktail__media-decor-3 {
	width: 11.2rem;
	height: 9.5rem;
	bottom: -6.3rem;
  right: 3.5rem;
}

.cocktail__details-decor {
	width: 19.8rem;
	height: 18.6rem;
	margin-left: auto;
	margin-right: -7rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.cocktail__steps-title,
.cocktail__ingridients-title {
	margin-bottom: 1em;
}

.cocktail__steps-list {
	padding-left: 2rem;
	counter-reset: ol;
}

.cocktail__steps-item {
	list-style: none;
	counter-increment: ol;
	position: relative;
}
.cocktail__steps-item::before {
	content: counter(ol)'.';
	position: absolute;
	left: -2rem;
}

.cocktail .product__related {
	margin-bottom: 4rem;
}