.header__container {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.header__nav-icon {
  --size: 2.8rem;
  max-width: var(--size);
  min-width: var(--size);
  width: var(--size);
  height: var(--size);
  display: block;
}

.header__logo {
  margin-left: 7rem;
}

.header__nav-item--active:after {
  content: "";
  position: absolute;
  top: 63%;
  left: -10%;
  right: -10%;
  display: block;
  width: 120%;
  height: 0.1rem;
  transform: rotate(-3.075deg);
  background-color: #005EAA;
}
